button{
    color: white;
    background-color: blueviolet;
    margin-top: 50px;
    border-radius: 5px;
    border-color:  blueviolet;
    width: 200px;
    
}
img{
    height: 300px;
}
input{
    background-color:  blueviolet;
    color: white;
    height: 30px
  
}
footer{
    margin-top: 500px;
}